<!DOCTYPE html>
<html>
  <head>
    <title>Premier League Predictor | Contact</title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      Got some feedback for the application?
      <a href="mailto:John.McFeely@invisionwfm.com?subject=Premier League Predictor">
	  <br>Contact Me</a>
    </p>
  </body>
</html>

