<!DOCTYPE html>
<html>
  <head>
    <title>Premier League Predictor | Home</title>
  </head>
  <body>
    <h1>Predictor Home Page</h1>
    <p>
      Welcome to the beta version of the English Premier League Predictor Game where each week you are asked to 
	  predict the result of each of the Premier League fixtures for that gameweek. Aswell as predicting the result (HOME/DRAW/AWAY) they
	  are also asked to rank them numerically from 10-1 based on your expectations, with 10 for the prediction you are most confident in 
	  being correct, and 1 with the prediction your are least confident in being correct.
    </p>
	<p>
	  We are initially only accepting 50 users as means of keeping the score reporting trackable and manageable so please sign up
	  now for your chance to join the fun. Please click the Sign Up button below !!
	</p>
	<%= link_to "Sign up now!", '#', :class => "signup_button round" %>

  </body>
</html>

